body {
    background: url('../resources/background.jpg')no-repeat center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

.fishyFeederPage {
    width: 100%;
    height: 100vh;
}

.longFFLogo {
    text-align: center;
    width: auto;
    height: auto;
}

.ffLinks {
    font: bold 20px Arial;
    color: black;
    display: inline-block;
    margin-left: 1%;
}

.ffWords {
    font: bold 20px Arial;
    color:black;
    margin-top: 5%;
    margin-left: 2%;
    width: 40%;
    text-align: left;
}

.ffLinks:hover {
    color: aqua;
}

.game{
    position: absolute;
    width: 50%;
    height: 60%;
    margin-left: -22%;
    margin-top: 5%;
}