body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.fishyFeederPage {
    background-color: lightblue;
    width: 100%;
    height: 100vh;
}

.longFFLogo {
    text-align: center;
    width: auto;
    height: auto;
}

.ffWords {
    font: bold 20px Arial;
    color:black;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;

}

.ffLinks {
    font: bold 20px Arial;
    color: black;
    display: inline-block;
    margin-left: 5%;
}

.ffLinks:hover {
    color: aqua;
}