*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{
    background-color: #FFFFCC;
    height:100%;
    width: 100%
}

/*-----------*/
/*-Home-Page-*/
/*-----------*/
.mainHeader{
    display: inline-block;
    margin-right: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
    font: bold 50px Arial;
}

.aboutMe{
    overflow: hidden;
    margin-left:5%;
    margin-top: 5%;
    width:45%;
    font:normal 20px Arial;
    color: black;
}
a {
    display: inline-block;
}
.collage{
    margin-right: 2%;
    margin-left: 2%;
    float: right;
    width: 40%;
}
.headShot{
    margin-left: 5%;
    margin-top: 2%;
    float: left;
    width: 15%;
}

/*-Button-Links-*/
.projectLink{
    color: black;
    margin-left: 3%;
    padding: 1%;
    background-color: lightcoral; 
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}
.projectLink:hover{
    background-color: lightpink;
}

.emailMe{
    color: black;
    padding: 1%;
    text-decoration: none;
    background-color: limegreen; 
    text-align: center;
    font-size: 16px;
}
.emailMe:hover{
    background-color: lightgreen;
}

.gitHubLink{
    color: black;
    padding: 1%;
    text-decoration: none;
    background-color: #62B2FF; 
    text-align: center;
    font-size: 16px;
}
.gitHubLink:hover{
    background-color: #99CCFF;
}

/*--------------*/
/*-Project-Page-*/
/*--------------*/

.bigTitle{
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: lightpink;
    color: cornflowerblue;
    padding: 1%;
    font: bold 50px Arial;
}

.metFinLogo{
    position: relative;
    margin: 5%;
    display:inline-block;
    width: auto;
    height: auto;
}
.metFinLogo .metFinHover{
    display: none;
    position: absolute;
    top: 0;
    left:0;
}
.metFinLogo:hover .metFinHover{
    display:inline-block;
}

/*---------------------*/
/*-Meteor-Fingers-Page-*/
/*---------------------*/
.metFinPage{
    background-image: url("resources/hubblePic.jpg");
    background-size: stretch;
    background-repeat:repeat;
    background-position:center;
    width: 100%;
    min-height: 100%;
}

.metFinTitle{
    text-align: center;
    width: auto;
    height: auto;
}

.metFinVideo{
    float:left;
    margin: 5%;
}

.metFinWords{
    font: bold 25px Arial;
    color: whitesmoke;
    margin-top: 5%;
    margin-right:10%;
    margin-left: 10%;

}
.metFinLinks{
    font: bold 20px Arial;
    color: white;
}

.metFinLinks:hover{
    color:aqua;
}