* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #FFFFCC;
    height: 100%;
    width: 100%
}

a {
    display: inline-block;
}

/*-----------*/
/*-Home-Page-*/
/*-----------*/
.mainHeader {
    display: inline-block;
    margin-right: 2%;
    margin-top: 5%;
    margin-left: 2%;
    margin-bottom: 5%;
    font: bold 50px Arial;
}

.aboutMe {
    overflow: hidden;
    margin-left: 5%;
    width: 45%;
    font: normal 20px Arial;
    color: black;
}

.collage {
    width: 40%;
    margin-right: 2%;
    float: right;
}

.headShot {
    margin-left: 5%;
    margin-top: 2%;
    float: left;
    width: 10%;
}

/*-Button-Links-*/
.projectLink {
    color: black;
    margin-left: 1%;
    padding: 0.5%;
    background-color: #fc9797;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.projectLink:hover {
    background-color: #f7abab;
}

.resumeLink {
    color: black;
    padding: 0.5%;
    background-color: #E59BE8;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
}

.resumeLink:hover {
    background-color: #e0b7ed;
}

.emailMe {
    color: black;
    padding: 0.5%;
    text-decoration: none;
    background-color: #73eb93;
    text-align: center;
    font-size: 16px;
}

.emailMe:hover {
    background-color: #97f7b1;
}

.gitHubLink {
    color: black;
    padding: 0.5%;
    text-decoration: none;
    background-color: #64bded;
    text-align: center;
    font-size: 16px;
}

.gitHubLink:hover {
    background-color: #91d5fa;

}