*{
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
    width: 100%;
}

body{ 
    background-color: #66ffb2;
    height: 100%;
    width: 100%;
}
.bigTitle { 
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: lightpink;
    color: darkcyan;
    padding: 1%;
    font: bold 50px Arial;
}

.gamesLogo{
    position: absolute;
    display:inline-block;
    margin: 5%;
    width: 40%;
    height: auto;
}
.gamesLogo .logoImage{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
.gamesLogo .logoImageHover{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;

}
.gamesLogo:hover .logoImage{
    opacity: 0;
}
.gamesLogo:hover .logoImageHover{
    opacity: 1;
}
/*for chat app */
.chatAppLogo{
    position: absolute;
    display:inline-block;
    margin-top: 5%;
    margin-left: 55%;
    width: 40%;
    height: auto;
}
.chatAppLogo .chatLogoImage{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
.chatAppLogo .chatLogoImageHover{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;

}
.chatAppLogo:hover .chatLogoImage{
    opacity: 0;
}
.chatAppLogo:hover .chatLogoImageHover{
    opacity: 1;
}