* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background-color: #f7abab;
    height: 100%;
    width: 100%;
}

.bigTitle {
    width: 40%;
    margin: auto;
    text-align: center;
    background-color: #cf9dc5;
    color: #e3cf74;
    padding: 1%;
    font: bold 50px Avantgarde;
}

.gamesLogo {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 5%;
    width: 40%;
    height: 40%;
    font: bold 80px Avantgarde;
    background-color: #ceaded;
    transition: background-color 0.3s ease;
}

.gamesLogo:hover {
    background-color: lightblue;
}

.chatAppLogo {
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-left: 55%;
    width: 40%;
    height: 40%;
    font: bold 80px Avantgarde;
    background-color: #ceaded;
    transition: background-color 0.3s ease;
}

.chatAppLogo:hover {
    background-color: lightblue;
}

/*
.chatAppLogo{
    position: absolute;
    display:inline-block;
    margin-top: 5%;
    margin-left: 55%;
    width: 40%;
    height: auto;
}
.chatAppLogo .chatLogoImage{
    position: absolute;
    display: inline-block;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}
.chatAppLogo .chatLogoImageHover{
    position: absolute;
    opacity: 0;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;

}
.chatAppLogo:hover .chatLogoImage{
    opacity: 0;
}
.chatAppLogo:hover .chatLogoImageHover{
    opacity: 1;
}
*/